<ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let a of this.abc;let i = index">
    <ion-card-header>
      <img src="{{a.image}}" alt="ion"> 
    <ion-card-title>{{a.productname}}</ion-card-title>
    </ion-card-header>
    <div>
      <p style="text-align: left;margin: 0px;margin-left: 16px;margin-bottom: 16px;font-weight:900">Price :<span style="font-weight: 200;">{{a.price}}/-</span></p>
    </div>
  
    <ion-footer>
      <ion-row>
        <ion-col size="6" center text-center>
          <ion-button style="font-size: 11px !important;padding: 3px !important;" (click)='details(a)'>Details</ion-button>
        </ion-col>
        <ion-col size="6" style="text-align:right;">
          <ion-button style="font-size: 11px !important;padding: 3px !important;" (click)='remove(i)'>Remove</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
  <div style="height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;">
  
  <p style="margin: 0;" *ngIf="abc.length==0">
  
    Cart is empty
  </p>
</div>
</ion-content>
